---
http_interactions:
- request:
    method: get
    uri: http://api.hotwire.com/v1/search/hotel?adults=1&apikey=ag2n2y43pc5u5aqes4mqfjzd&children=0&dest=US,%20San%20Francisco,%20CA&enddate=11/13/2013&rooms=1&startdate=11/11/2013
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Mashery-Responder:
      - mashery-web4-atl.mashery.com
      Hotwire-Response-Query-Cost:
      - '1'
      Content-Type:
      - text/xml;charset=UTF-8
      Content-Language:
      - en-US
      Ntcoent-Length:
      - '85877'
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><Hotwire><Errors/><MetaData><HotelMetaData><Amenities><Amenity><Code>1B</Code><Description>Condominium
        offers a bedroom plus a living room and complete kitchen.</Description><Name>1
        Bedroom Suite</Name></Amenity><Amenity><Code>AB</Code><Description>Braille
        or raised signage</Description><Name>Accessible for the blind</Name></Amenity><Amenity><Code>AC</Code><Description>Condominium
        is equipped with air conditioning.</Description><Name>Air-Conditioning</Name></Amenity><Amenity><Code>AD</Code><Description>TTY
        for telephone, visual or flashing fire alarm and vibrating alarm clock</Description><Name>Accessible
        for the deaf</Name></Amenit[...]
